@import '~react-image-gallery/styles/css/image-gallery.css';

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  color: black;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}

.hero-text {
  color: white;
  align-self: center;
  position: absolute;
}

.description {
  margin: auto;
  width: 80%;
  max-width: 60rem;
}

.carousel {
  margin: auto;
  width: 80%;
  max-width: 60rem;
}

.image-gallery-index {
  background: transparent;
  padding: 0;
  color: black;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: -30px;
  top: auto;
  z-index: 4;
}

.image-gallery-index-current {
  font-weight: bold;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
}

.listview {
  margin: auto;
  width: 80%;
  max-width: 60rem;
}

.listview ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}

.listitem {
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 1rem;
}

.listitem img {
  width: 13rem;
  height: 10rem;
  object-fit: cover;
}

.listitem-name {
  text-align: left;
}

.hover-text {
  opacity: 0;
  position: absolute;
  width: 13rem;
  height: 10rem;
  top: 0;
  left: 0;
}

.hover-text p {
  margin-top: 35%;
  color: black;
}

.hover-text:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
