@import '~react-image-gallery/styles/css/image-gallery.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff1e6;
  color: black;
  position: relative;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.5em;
  font-weight: 800;
}

h2 {
  width: 70%;
  font-size: 2.7em;
  font-weight: 800;
  letter-spacing: 2px;
  margin: auto;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.standard-component {
  margin: auto;
  width: 80%;
  max-width: 60rem;
  padding: 5em 0 5em 0;
}

#hero {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

#hero a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid white;
  padding: 0 0 2px 0;
  letter-spacing: 3px;
  transition-duration: 0.4s;
}

#hero a:hover {
  background-color: white;
  color: black;
  padding: 8px;
}

#hero img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}

.hero-text {
  color: white;
  align-self: center;
  position: absolute;
}

#description {
  width: 60%;
}

.image-gallery-icon:hover {
  color: #fff1e6;
}

.image-gallery-index {
  background: transparent;
  padding: 0;
  color: black;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: -30px;
  top: auto;
  z-index: 4;
}

.image-gallery-index-current {
  font-weight: bold;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
}

.listview-intro {
  width: 80%;
  margin: auto;
  padding-bottom: 2.5em;
}

#listview ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}

.listitem-container {
  width: 22%;
  padding: 3% 3% 0 0;
  height: 180px;
}

.listitem {
  position: relative;
  width: 100%;
  height: 80%;
}

.listitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listitem p {
  text-align: left;
  color: black;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0px;
  width: fit-content;
  transition-duration: 0.4s;
}

.listitem-name:hover {
  text-decoration: underline;
}

.listview-bottom-buttons-container {
  padding-top: 3em;
  width: 200px;
  margin: auto;
}
.listview-top-buttons-container {
  width: 400px;
  text-align: left;
}

.listview-top-buttons-container button {
  font-size: 9px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 0 0 2px 0;
  color: black;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-right: 2em;
}

.listview-top-buttons-container button:hover {
  background-color: black;
  color: white;
}

.listview-bottom-buttons-container button {
  font-size: 9px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 800;
  background-color: transparent;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  width: 200px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition-duration: 0.4s;
}

#back-to-top-button {
  border: 2px solid transparent;
}

.listview-bottom-buttons-container button:hover {
  background-color: black;
  letter-spacing: 2.5px;
  color: white;
  cursor: pointer;
}

.hover-text {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition-duration: 0.4s;
}

.hover-text p {
  margin: auto;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 3px;
}

.hover-text:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer {
  color: white;
  background-color: black;
  height: 20rem;
}

.footer h3 {
  position: absolute;
  width: 100%;
  margin-top: 9rem;
}

@media (max-width: 900px) {
  .listitem-container {
    width: 47%;
    padding: 3% 3% 0 0;
    height: 250px;
  }
}

@media (max-width: 700px) {
  .standard-component {
    width: 80%;
    padding: 3em 0 3em 0;
  }

  #hero {
    height: 600px;
  }

  #hero img {
    object-fit: cover;
  }

  #description {
    width: 80%;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
  }

  h2 {
    width: 100%;
    font-size: 1.8em;
    font-weight: 800;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  .hero-text {
    padding-bottom: 1em;
  }

  #hero a {
    font-size: 0.5em;
  }

  #carousel {
    width: 100%;
  }

  .image-gallery-icon,
  .image-gallery-right-nav {
    display: none;
  }

  .image-gallery-index {
    width: 100%;
  }

  #listview {
    width: 90%;
  }

  .listview-top-buttons-container {
    width: auto;
    text-align: center;
  }

  .listview-intro {
    padding-bottom: 2.5em;
    width: 80%;
    margin: auto;
  }

  #listview ul {
    padding-top: 2em;
  }

  .listitem {
    margin: 0;
  }

  .listitem-name {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
}

@media (max-width: 650px) {
  .listitem-container {
    width: 97%;
    padding: 3% 3% 0 0;
    height: 350px;
  }
}
