@import '~react-image-gallery/styles/css/image-gallery.css';

.App {
  text-align: center;
  color: black;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}

.hero-text {
  color: white;
  align-self: center;
  position: absolute;
}

.description {
  margin: auto;
  width: 80%;
}

.carousel {
  margin: auto;
  width: 80%;
}

.image-gallery-index {
  background: transparent;
  padding: 0;
  color: black;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: -30px;
  top: auto;
  z-index: 4;
}

.image-gallery-index-current {
  font-weight: bold;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
}

.listview {
  margin: auto;
  width: 80%;
}
